<% content_for(:title, @line.number) %>

<div>
  <h2>Line <%= @line.number %></h2>
  <h3>Stations:</h3>
  <ul>
    <% @line.stations.each do |station| %>
      <li><%= link_to station.name, station_path(station.slug) %></li>
    <% end %>
  </ul>


  <h3>Buses:</h3>
  <ul>
    <% @line.buses.each do |bus| %>
      <li><%= link_to bus.name, bus_path(bus.id) %></li>
    <% end %>
  </ul>

</div>

<%= link_to "Edit Line", edit_line_path, class: "btn btn-warning" %>
<%= link_to "Delete Line", line_path(@line.number),
                      :confirm => "You sure?",
                      :method => "delete",
                      :class => "btn btn-danger" %>
